﻿<div ng-show="!movSchedLoaded.loaded" class="container-fluid no-margin-padding">
    <h4>Loading movie schedules data, please wait....</h4>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="movSchedLoaded.loaded" class="container-fluid no-margin-padding" ng-switch on="movieSchedDisplay">
    <div ng-switch-when="MovieScheduleList">
        <movieschedule-list-directive></movieschedule-list-directive>
    </div>
    <div ng-switch-when="EditScreenSched">
        <screensched-edit-directive></screensched-edit-directive>
    </div>
</div>