﻿<div style="margin-bottom: 10px;">
    <label>Current Location: {{currentLocation.name}}</label>
    <a class="btn btn-xs btn-default" style="margin-left:15px;" ng-click="changeLocationModal();">Change Location</a>
</div>
<div class="col-md-12" style="text-align:center;">
    <h2>Edit Screen Schedule</h2>
    <div class="col-md-10 col-md-offset-1">
        <hr style="border:1px solid black;" />
    </div>
</div>
<div class="col-md-12" style="text-align:center;margin-bottom: 10px;">
    <p>Click on screen to change schedule</p>
</div>
<div class="container-fluid">
    <div class="col-md-4" ng-repeat="item in movSchedScreens.screens" style="margin-bottom: 20px;" ng-click="changeMovieSchedDisplay('EditScreenSched');setupEditSchedule(item);">
        <div class="col-md-10 col-md-offset-1">
            <div class="card movSched-card-display">
                <div class="card-block container-fluid no-margin-padding" style="text-align:center; cursor: pointer;">
                    <h4 class="card-title">Screen: {{item.number}}</h4>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>














<!-- Modal pop up to change location -->
<div class="modal fade customModal" id="changeLocationModal" tabindex="-1" role="form" style="margin-top: 100px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-header modalHeader">
            <h4>Change Location</h4>
        </div>
        <div class="modal-content modalContent">
            <div class="row modalRow">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; margin-bottom: 25px; margin-top: 15px;">
                    <label>Select a location:</label>
                    <br />
                    <div>
                        <ul class="nav" style="border:2px solid yellow; background-color:#f1f1f2">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Select an option<span class="caret"></span></a>
                                <ul class="nav dropdown-menu" style="width:100%; text-align:center;border:2px solid yellow;">
                                    <li ng-repeat="item in locationsList.locations">
                                        <a class="btn-default" ng-click="setCurrentLocation(item.id);" data-dismiss="modal">{{item.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>