﻿<div class="col-md-10 col-md-offset-1">
    <div class="col-md-12" style="text-align:center;">
        <h2>Screen {{tempSched.screen_num}} Schedule Details</h2>
        <hr style="border:1px solid black;" />
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align:center;">
        <label>Current Movie: <label style="color:blue;">{{tempSched.movie_name}}</label></label>
        <a class="btn btn-xs btn-default" style="margin-left:15px;" ng-click="changeMovieModal();">Change Movie</a>
        <br />
        <p>Please note changing movie removes all current showtimes.</p>
        <hr style="border:1px solid black;" />
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align:center;">
        <h4>Current Show Times</h4>
        <p ng-if="movSchedList.schedules.length=='0'">Currently no showings for this screen</p>
        <div class="container-fluid">
            <div class="col-md-1 col-md-offset-1" ng-repeat="item in movSchedList.schedules" ng-if="item.s_id==tempSched.s_id">
                <a class="btn btn-primary">{{item.movie_time}}</a>
            </div>
        </div>
        <hr style="border:1px solid black;" />
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align:center;">
        <h4>Add New Showtime</h4>
        <form name="profileForm" novalidate>
            <div class="col-md-12 form-group" style="text-align:center;" ng-class="{'has-error' : profileForm.time.$invalid && !profileForm.time.$pristine}">
                <div class="col-md-12 input-group"
                     style="text-align:center;"
                     moment-picker="tempSched.movie_time"
                     format="HH:mm">
                    <label>Select Show Time: <label style="color:blue;">{{tempSched.movie_time}}</label></label>
                    <br />
                    <div class="col-md-4 col-md-offset-4">
                        <input name="time"
                               class="form-control"
                               placeholder="Select a time"
                               ng-model="tempSched.movie_time"
                               ng-model-options="{ updateOn: 'blur' }"
                               required>
                        <p ng-show="profileForm.time.$error.required" class="help-block">Please select a time</p>
                    </div>
                </div>
            </div>
            <hr style="border:1px solid black;" />
            <div class="form-group" style="text-align:center;margin-top:20px; margin-bottom:20px;">
                <div class="col-md-12">
                    <a class="btn btn-danger" style="margin-right:10px;" ng-click="changeMovieSchedDisplay('MovieScheduleList');">Cancel</a>
                    <a ng-disabled="profileForm.$invalid" class="btn btn-success" style="margin-left:10px;" ng-click="changeMovieSchedDisplay('MovieScheduleList'); saveSchedule();">Confirm</a>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- Modal pop up to change movie -->
<div class="modal fade customModal" id="changeMovieModal" tabindex="-1" role="form" style="margin-top: 100px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-header modalHeader">
            <h4>Change Movie</h4>
        </div>
        <div class="modal-content modalContent">
            <div class="row modalRow">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; margin-bottom: 25px; margin-top: 15px;">
                    <label>Select a movie: <label style="color:#f1f1f2;">{{tempSched.movie_name}}</label></label>
                    <br />
                    <div>
                        <ul class="nav" style="border:2px solid yellow; background-color:#f1f1f2">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Select an option<span class="caret"></span></a>
                                <ul class="nav dropdown-menu" style="width:100%; text-align:center;border:2px solid yellow;">
                                    <li ng-repeat="item in moviesList.movies" ng-if="item.l_id==currentLocation.l_id">
                                        <a class="btn-default" ng-click="setCurrentMovie(item);">{{item.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="col-md-12" style="text-align:center;">
                        <a class="btn btn-danger" ng-click="cancelChangeMovie();" data-dismiss="modal">Cancel</a>
                        <a class="btn btn-success" ng-click="saveChangeMovie();" data-dismiss="modal">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>