﻿<div class="container-fluid no-margin-padding" id="changingContentArea">
    <div ng-switch on="displayOpt" >
        <div ng-switch-when="Default" >
            <accounts-directive></accounts-directive>
        </div>
        <div ng-switch-when="Accounts">
            <accounts-directive></accounts-directive>
        </div>
        <div ng-switch-when="Locations">
            <locations-directive></locations-directive>
        </div>
        <div ng-switch-when="Screens">
            <screens-directive></screens-directive>
        </div>
        <div ng-switch-when="Movies">
            <movies-directive></movies-directive>
        </div>
        <div ng-switch-when="Prices">
            <prices-directive></prices-directive>
        </div>
        <div ng-switch-when="MovieSchedule">
            <movieschedule-directive></movieschedule-directive>
        </div>
    </div>
</div>