﻿<div class="container-fluid no-margin-padding" id="sidebar">
    <div class="container-fluid no-margin-padding" id="profileDisplay">
        <div class="col-md-5 container-fluid no-margin-padding" style="background-color: black;height:100%;padding:3px;">
            <img style="width:100%;height:100%;" class="img-thumbnail" ng-src="data:image/png;base64,{{userProfile.profile.prof_img}}" onError="this.src = 'Images/blank_profile.jpe'"/>
        </div>
        <div class="col-md-7 container-fluid" style="text-align:center; padding-top:20px;">
            <h4>{{userProfile.profile.f_name}} {{userProfile.profile.l_name}}</h4>
            <br />
            <h4>
                <a class="btn btn-xs buttonLinks" ng-click="profileModal(userProfile.profile);setActiveTab(1); setEditTab('tab1')">Edit Profile</a>
                |
                <a class="btn btn-xs buttonLinks" ng-click="logout();">Logout</a>
            </h4>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row no-margin-padding" id="sidebar-menu-options">

            <hr />
            <a class="btn btn-block btn-default" ng-click="changeDisplayOpt('Accounts')">Manage Accounts</a>
            <hr />
            <a class="btn btn-block btn-default" ng-click="changeDisplayOpt('Locations')">Locations</a>
            <hr />
            <a class="btn btn-block btn-default" ng-click="changeDisplayOpt('Screens')">Screens</a>
            <hr />
            <a class="btn btn-block btn-default" ng-click="changeDisplayOpt('Movies')">Movies</a>
            <hr />
            <a class="btn btn-block btn-default" ng-click="changeDisplayOpt('Prices')">Prices</a>
            <hr />
            <a class="btn btn-block btn-default" ng-click="changeDisplayOpt('MovieSchedule')">Movie Schedule</a>
            <hr />

        </div>
    </div>
</div>

<!-- Modal pop up to edit the user profile -->
<div class="modal fade customModal" id="profileModal" tabindex="-1" role="form">
    <div class="modal-dialog modal-lg" role="document">
        <form name="profileForm" novalidate>
            <div class="modal-header modalHeader">
                <div class="row">
                    <div class="col-md-12">
                        <button type="reset" class="pull-left btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                        <button ng-disabled="profileForm.$invalid" ng-click="editAccount();" type="submit" class="pull-right btn-success btn-sm" data-dismiss="modal">Save</button>
                        <h4>Edit Profile Details</h4>
                    </div>
                </div>
            </div>
            <div class="modal-content modalContent">
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs editTabs" style="border-bottom:1px solid black;">
                            <li style="margin-left: 30px;" ng-class="{'active' : activeTab == 1}"><a ng-click="setActiveTab(1); setEditTab('tab1')">Profile Details</a></li>
                            <li ng-class="{'active' : activeTab == 2}"><a ng-click="setActiveTab(2); setEditTab('tab2')">Profile Credentials</a></li>
                            <li ng-class="{'active' : activeTab == 3}"><a ng-click="setActiveTab(3); setEditTab('tab3')">Profile Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row modalRow">
                    <div class="col-md-8 col-md-offset-2 ">
                        <div ng-switch on="editTab">
                            <div ng-switch-when="tab1">
                                <div class="form-group">
                                    <div class="row no-margin-padding">
                                        <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.fname.$invalid && !profileForm.fname.$pristine}">
                                            <label style="margin-top: 10px;">First Name: </label>
                                            <input type="text" name="fname" class="form-control" ng-model="tempProfile.f_name" ng-minlength="3" ng-maxlength="20" required>
                                            <p ng-show="profileForm.fname.$invalid && !profileForm.fname.$pristine" class="help-block">First name required: Min 3 & Max 20 letter.s</p>
                                            <p ng-show="profileForm.fname.$error.minlength" class="help-block">First name is too short.</p>
                                            <p ng-show="profileForm.fname.$error.maxlength" class="help-block">First name is too long.</p>
                                        </div>
                                        <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.lname.$invalid && !profileForm.lname.$pristine}">
                                            <label style="margin-top: 10px;">Last Name: </label>
                                            <input type="text" name="lname" class="form-control" ng-model="tempProfile.l_name" ng-minlength="6" ng-maxlength="30" required>
                                            <p ng-show="profileForm.lname.$invalid && !profileForm.lname.$pristine" class="help-block">Last name required: Min 6 & Max 30 letters.</p>
                                            <p ng-show="profileForm.lname.$error.minlength" class="help-block">Last name is too short.</p>
                                            <p ng-show="profileForm.lname.$error.maxlength" class="help-block">Last name is too long.</p>
                                        </div>
                                        <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.mobile.$invalid && !profileForm.mobile.$pristine}">
                                            <label style="margin-top: 10px;">Mobile: </label>
                                            <input type="text" name="mobile" class="form-control" ng-model="tempProfile.mobile" ng-minlength="10" ng-maxlength="10">
                                            <p ng-show="profileForm.mobile.$invalid && !profileForm.mobile.$pristine" class="help-block">Enter valid mobile number: 10 digits.</p>
                                        </div>
                                        <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine}">
                                            <label style="margin-top: 10px;">Email: </label>
                                            <input type="email" name="email" class="form-control" ng-model="tempProfile.email" required>
                                            <p ng-show="profileForm.email.$invalid && !profileForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="tab2">
                                <div class="form-group">
                                    <div class="row no-margin-padding">
                                        <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.username.$invalid && !profileForm.username.$pristine}">
                                            <label style="margin-top: 10px;">Username: </label>
                                            <input type="text" name="fname" class="form-control" ng-model="tempProfile.username" ng-minlength="3" ng-maxlength="10" required>
                                            <p ng-show="profileForm.username.$invalid && !profileForm.fname.$pristine" class="help-block">Username required.</p>
                                            <p ng-show="profileForm.username.$error.minlength" class="help-block">Username is too short.</p>
                                            <p ng-show="profileForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label style="margin-top: 10px;">Password: </label>
                                            <input type="password" name="password" class="form-control" ng-model="tempProfile.password" disabled>
                                        </div>
                                        <div class="col-md-4 col-md-offset-4" style="text-align:center;">
                                            <label style="margin-top: 10px;">User Type: </label>
                                            <input ng-model="tempProfile.userType" type="text" class="form-control" id="name" disabled>
                                        </div>
                                        <div class="col-xs-6 col-xs-offset-3" style="text-align:center;">
                                            <label style="margin-top: 10px;">Default Location: <label style="color:white;">{{defaultLocation.name}}</label></label>
                                            <br />
                                            <div>
                                                <ul class="nav" style="border:2px solid yellow; background-color:#f1f1f2">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">Select an option<span class="caret"></span></a>
                                                        <ul class="nav dropdown-menu" style="width:100%; text-align:center;border:2px solid yellow;">
                                                            <li ng-repeat="item in locationsList.locations">
                                                                <a class="btn-default" ng-click="changeDefaultLocation(item);">{{item.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="tab3">
                                <div class="form-group">
                                    <label style="margin-top: 10px;">Profile Image: </label>
                                    <p>Upload a new image: ( Please ensure only .png files are selected )</p>
                                    <input type="file" ng-model="profileImg" name="name" base-sixty-four-input required onload="onLoad" maxsize="500" accept="image/*">
                                    <br />
                                    <table class="table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Current Image</th>
                                                <th style="text-align: center;">Preview New Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th style="text-align: center;">
                                                    <img class="img-thumbnail" style="height: 150px; max-width:150px;" ng-src="data:image/png;base64,{{tempProfile.prof_img}}" onError="this.src = 'Images/blank_profile.jpe'" />
                                                    <br />
                                                    <button class="btn btn-primary" ng-click="deleteProfileImage()" style="margin-top:10px;">Delete Image</button>
                                                </th>
                                                <th ng-show="previewProfileImg" style="text-align: center;">
                                                    <img class="img-thumbnail" style="width:150px;" ng-src="data:image/png;base64,{{profileImg.base64}}" />
                                                    <br />
                                                    <button class="btn btn-danger" ng-click="discardUploadedImage()" style="margin-top:10px;">Cancel</button>
                                                    <button class="btn btn-success" ng-click="changeProfileImage(profileImg.base64)" style="margin-top:10px;">Confirm</button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
