﻿<nav class="navbar no-margin-padding" id="toggleNavBar">
    <div class="container-fluid no-margin-padding">
        <ul class="nav navbar-nav pull-left topNavL1">
            <li><a ng-click="toggleSideBar();">Toggle</a></li>
        </ul>
    </div>
</nav>