﻿<nav class="navbar no-margin-padding" id="topNavBar" >
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" style="color:yellow;">Cineverse</a>
        </div>
        <ul class="nav navbar-nav pull-right topNavL1" >
            <li><a ng-click="logout();">Log Out</a></li>
        </ul>
    </div>
</nav>