﻿<div class="col-md-8 col-md-offset-2">
    <form name="profileForm" novalidate>
        <div class="form-group">
            <div class="row no-margin-padding">
                <div class="col-md-12" style="text-align:center;">
                    <h2>Add a new screen</h2>
                </div>
                <hr style="border:1px solid black;" />
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.number.$invalid && !profileForm.number.$pristine}">
                    <label style="margin-top: 10px;">Screen Number: </label>
                    <input type="number" name="number" class="form-control" ng-model="newScreen.number" ng-min="1" ng-max="currentLocation.num_screens" required>
                    <p ng-show="profileForm.number.$invalid && !profileForm.number.$pristine" class="help-block">Screen number between 1 - {{currentLocation.num_screens}}.</p>
                    <p ng-show="profileForm.number.$invalid && !profileForm.number.$pristine" class="help-block">Do not duplicate screen numbers!!</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.capacity.$invalid && !profileForm.capacity.$pristine}">
                    <label style="margin-top: 10px;">Screen Capacity: </label>
                    <input type="number" name="capacity" class="form-control" ng-model="newScreen.capacity" ng-min="50" ng-max="250" required>
                    <p ng-show="profileForm.capacity.$invalid && !profileForm.capacity.$pristine" class="help-block">Enter screen capacity between 50 - 250.</p>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
            </div>
            <br />
            <div class="form-group" style="text-align:center;">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="changeScreensDisplay('ScreensList');">Cancel</button>
                    <button ng-disabled="profileForm.$invalid" class="btn btn-success" ng-click="addScreen();changeScreensDisplay('ScreensList');">Confirm</button>
                </div>
            </div>
            <br />
        </div>
    </form>
</div>