﻿<div ng-show="!screensLoaded.loaded" class="container-fluid no-margin-padding">
    <h4>Loading user accounts data, please wait....</h4>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="screensLoaded.loaded" class="container-fluid no-margin-padding" ng-switch on="screensDisplay">
    <div ng-switch-when="ScreensList">
        <screens-list-directive></screens-list-directive>
    </div>
    <div ng-switch-when="EditScreen">
        <screens-edit-directive></screens-edit-directive>
    </div>
    <div ng-switch-when="AddScreen">
        <screens-add-directive></screens-add-directive>
    </div>
</div>