﻿<div>
    <label>Current Location: {{currentLocation.name}}</label>
    <a class="btn btn-xs btn-default" style="margin-left:15px;" ng-click="changeLocationModal();">Change Location</a>
</div>

<table st-table="screenslist" class="table table-striped table-bordered table-hover no-margin-padding">
    <thead>
        <tr style="background-color: black; color: yellow;">
            <th colspan="5">Screen Number: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="btn btn-xs btn-default" ng-click="changeScreensDisplay('AddScreen'); newScreenSetup()">Add Screen</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="item in screensList.screens" ng-if="item.l_id==currentLocation.l_id">
            <td width="90%">
                Screen {{item.number}}
            </td>
            <td width="5%" style="text-align:center;">
                <a class="btn btn-xs" ng-click="changeScreensDisplay('EditScreen');editScreenSetup(item);"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
            </td>
            <td width="5%" style="text-align:center;">
                <a class="btn btn-xs" ng-click="deleteModal(item);"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal pop up to change location -->
<div class="modal fade customModal" id="changeLocationModal" tabindex="-1" role="form" style="margin-top: 100px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-header modalHeader">
            <h4>Change Location</h4>
        </div>
        <div class="modal-content modalContent">
            <div class="row modalRow">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; margin-bottom: 25px; margin-top: 15px;">
                    <label>Select a location:</label>
                    <br />
                    <div>
                        <ul class="nav" style="border:2px solid yellow; background-color:#f1f1f2">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Select an option<span class="caret"></span></a>
                                <ul class="nav dropdown-menu" style="width:100%; text-align:center;border:2px solid yellow;">
                                    <li ng-repeat="item in locationsList.locations">
                                        <a class="btn-default" ng-click="setCurrentLocation(item.id);" data-dismiss="modal">{{item.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop up to confirm the deletion of a screen -->
<div class="modal fade customModal" id="deleteModal" tabindex="-1" role="form" style="margin-top: 100px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-header modalHeader">
            <h4>Delete Screen</h4>
        </div>
        <div class="modal-content modalContent">
            <div class="row modalRow">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; margin-bottom: 25px; margin-top: 15px;">
                    <label>Delete screen: <label style="color:#f1f1f2;">Screen {{tempScreen.number}}</label></label>
                    <p>Are you sure??</p>
                    <button class="btn btn-danger" ng-click="" data-dismiss="modal" style="margin-right: 25px;">Cancel</button>
                    <button class="btn btn-success" ng-click="deleteScreen(tempScreen.id)" data-dismiss="modal" style="margin-left: 25px;">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>