﻿<div>
    <label>Current Location: {{currentLocation.name}}</label>
    <a class="btn btn-xs btn-default" style="margin-left:15px;" ng-click="changeLocationModal();">Change Location</a>
</div>

<div class="col-md-10 col-md-offset-1">
    <div class="row no-margin-padding">
        <div class="col-md-6" style="text-align:center">
            <h4>Afternoon</h4>
            <div class="col-md-12">
                <hr style="border:1px solid black;" />
                <form name="profileForm1" novalidate>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm1.adult.$invalid && !profileForm1.adult.$pristine}">
                            <label style="margin-top: 10px;">Adult: </label>
                            <input type="number" name="adult" class="form-control" ng-model="afternoon.adult" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices1" required>
                            <p ng-show="profileForm1.adult.$invalid && !profileForm1.adult.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm1.child.$invalid && !profileForm1.child.$pristine}">
                            <label style="margin-top: 10px;">Child: </label>
                            <input type="number" name="child" class="form-control" ng-model="afternoon.child" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices1" required>
                            <p ng-show="profileForm1.child.$invalid && !profileForm1.child.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm1.student.$invalid && !profileForm1.student.$pristine}">
                            <label style="margin-top: 10px;">Student: </label>
                            <input type="number" name="student" class="form-control" ng-model="afternoon.student" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices1" required>
                            <p ng-show="profileForm1.student.$invalid && !profileForm1.student.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm1.oap.$invalid && !profileForm1.oap.$pristine}">
                            <label style="margin-top: 10px;">OAP ( Old Age Pensioner ): </label>
                            <input type="number" name="oap" class="form-control" ng-model="afternoon.oap" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices1" required>
                            <p ng-show="profileForm1.oap.$invalid && !profileForm1.oap.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12" style="text-align:center;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-6 col-md-offset-3" style="text-align:center; margin-top:15px" ng-show="!changePrices1">
                        <a class="btn btn-default" ng-click="enablePriceChange1(1)">Edit Prices</a>
                    </div>
                    <div class="col-md-8 col-md-offset-2" style="text-align:center; margin-top:15px" ng-show="changePrices1">
                        <a class="btn btn-danger" ng-click="enablePriceChange1(3)">Cancel</a>
                        <a class="btn btn-success" ng-click="enablePriceChange1(2)">Save</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="text-align:center">
            <h4>Evening</h4>
            <div class="col-md-12">
                <hr style="border:1px solid black;" />
                <form name="profileForm" novalidate>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm.adult.$invalid && !profileForm.adult.$pristine}">
                            <label style="margin-top: 10px;">Adult: </label>
                            <input type="number" name="adult" class="form-control" ng-model="evening.adult" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices2" required>
                            <p ng-show="profileForm.adult.$invalid && !profileForm.adult.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm.child.$invalid && !profileForm.child.$pristine}">
                            <label style="margin-top: 10px;">Child: </label>
                            <input type="number" name="child" class="form-control" ng-model="evening.child" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices2" required>
                            <p ng-show="profileForm.child.$invalid && !profileForm.child.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm.student.$invalid && !profileForm.student.$pristine}">
                            <label style="margin-top: 10px;">Student: </label>
                            <input type="number" name="student" class="form-control" ng-model="evening.student" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices2" required>
                            <p ng-show="profileForm.student.$invalid && !profileForm.student.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1 form-group" ng-class="{'has-error' : profileForm.oap.$invalid && !profileForm.oap.$pristine}">
                            <label style="margin-top: 10px;">OAP ( Old Age Pensioner ): </label>
                            <input type="number" name="oap" class="form-control" ng-model="evening.oap" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-min="1" ng-max="50" ng-disabled="!changePrices2" required>
                            <p ng-show="profileForm.oap.$invalid && !profileForm.oap.$pristine" class="help-block">Invalid Price!! Minimum €1 & Maximum €50</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12" style="text-align:center;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-6 col-md-offset-3" style="text-align:center; margin-top:15px" ng-show="!changePrices2">
                        <a class="btn btn-default" ng-click="enablePriceChange2(1)">Edit Prices</a>
                    </div>
                    <div class="col-md-8 col-md-offset-2" style="text-align:center; margin-top:15px" ng-show="changePrices2">
                        <a class="btn btn-danger" ng-click="enablePriceChange2(3)">Cancel</a>
                        <a class="btn btn-success" ng-click="enablePriceChange2(2)">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal pop up to change location -->
<div class="modal fade customModal" id="changeLocationModal" tabindex="-1" role="form" style="margin-top: 100px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-header modalHeader">
            <h4>Change Location</h4>
        </div>
        <div class="modal-content modalContent">
            <div class="row modalRow">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; margin-bottom: 25px; margin-top: 15px;">
                    <label>Select a location:</label>
                    <br />
                    <div>
                        <ul class="nav" style="border:2px solid yellow; background-color:#f1f1f2">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Select an option<span class="caret"></span></a>
                                <ul class="nav dropdown-menu" style="width:100%; text-align:center;border:2px solid yellow;">
                                    <li ng-repeat="item in locationsList.locations">
                                        <a class="btn-default" ng-click="setCurrentLocation(item.id);" data-dismiss="modal">{{item.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>