﻿<!--<div ng-show="!pricesLoaded.loaded" class="container-fluid no-margin-padding">
    <h4>Loading prices data, please wait....</h4>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
ng-show="pricesLoaded.loaded"-->
<div  class="container-fluid no-margin-padding" ng-switch on="pricesDisplay">
    <div ng-switch-when="PricesList">
        <prices-list-directive></prices-list-directive>
    </div>
</div>