﻿<div class="col-md-8 col-md-offset-2">
    <form name="profileForm" novalidate>
        <div class="form-group">
            <div class="row no-margin-padding">
                <div class="col-md-12" style="text-align:center;">
                    <h2>Add a new location</h2>
                </div>
                <hr style="border:1px solid black;" />
                <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error' : profileForm.name.$invalid && !profileForm.name.$pristine}">
                    <label style="margin-top: 10px;">Location Name: </label>
                    <input type="text" name="name" class="form-control" ng-model="tempLocation.name" ng-minlength="3" ng-maxlength="20" required>
                    <p ng-show="profileForm.name.$invalid && !profileForm.name.$pristine" class="help-block">Location name required: Min 3 & Max 20 letters.</p>
                    <p ng-show="profileForm.name.$error.minlength" class="help-block">Name is too short.</p>
                    <p ng-show="profileForm.name.$error.maxlength" class="help-block">Name is too long.</p>
                </div>
                <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error' : profileForm.address.$invalid && !profileForm.address.$pristine}">
                    <label style="margin-top: 10px;">Address: </label>
                    <textarea type="text" name="address" class="form-control" ng-model="tempLocation.address" ng-minlength="4" ng-maxlength="30" required></textarea>
                    <p ng-show="profileForm.address.$invalid && !profileForm.address.$pristine" class="help-block">Address required: Min 4 & Max 30 letters.</p>
                    <p ng-show="profileForm.address.$error.minlength" class="help-block">Address is too short.</p>
                    <p ng-show="profileForm.address.$error.maxlength" class="help-block">Address is too long.</p>
                </div>
                <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error' : profileForm.num_screens.$invalid && !profileForm.num_screens.$pristine}">
                    <label style="margin-top: 10px;">Number of screens: </label>
                    <input type="number" name="num_screens" class="form-control" ng-model="tempLocation.num_screens" ng-min="1" ng-max="12" required>
                    <p ng-show="profileForm.num_screens.$invalid && !profileForm.username.$pristine" class="help-block">Select number between 1 - 12.</p>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
                <div class="col-md-4 col-md-offset-4" style="text-align:center;">
                    <label>Location Status: <label style="color:blue;">{{tempLocation.l_status}}</label></label>
                    <br />
                    <select ng-model="tempLocation.l_status" ng-options="x for x in locationStatusOpt"></select>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
            </div>
            <br />
            <div class="form-group" style="text-align:center;">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="changeLocationsDisplay('LocationsList');">Cancel</button>
                    <button ng-disabled="profileForm.$invalid" class="btn btn-success" ng-click="editLocation();changeLocationsDisplay('LocationsList');">Confirm</button>
                </div>
            </div>
            <br />
        </div>
    </form>
</div>