﻿<div ng-show="!locationsLoaded.loaded" class="container-fluid no-margin-padding">
    <h4>Loading locations data, please wait....</h4>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="locationsLoaded.loaded" class="container-fluid no-margin-padding" ng-switch on="locationsDisplay">
    <div ng-switch-when="LocationsList">
        <locations-list-directive></locations-list-directive>
    </div>
    <div ng-switch-when="EditLocation">
        <locations-edit-directive></locations-edit-directive>
    </div>
    <div ng-switch-when="AddLocation">
        <locations-add-directive></locations-add-directive>
    </div>
</div>