﻿<div class="container-fluid no-margin-padding" ng-controller="LoginController">
    <div class="container-fluid no-margin-padding" style="text-align:center; border-bottom: 3px solid yellow">
        <h1 style="color:yellow;">Cineverse</h1>
    </div>
    <div class="container-fluid no-margin-padding">
        <div class="row no-margin-padding">
            <div class="col-md-6 col-md-offset-3" id="loginTable">
                <div class="container-fluid" style="border-bottom:3px solid yellow; text-align:center; color:black;">
                    <h3>Content Management Application</h3>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <form class="panel-body">
                        <div class="form-group">
                            <label>Username:</label>
                            <input style="border:2px solid yellow;" type="text" class="form-control" ng-model="username" id="inputUsername3" placeholder="example@mail.com" required>
                            <br />
                            <label>Password:</label>
                            <input style="border:2px solid yellow;" type="password" class="form-control" ng-model="password" id="inputPassword3" placeholder="Password" required>
                        </div>
                        <div ng-show="loginFail.failed" class="form-group" style="text-align:center;">
                            <h4  style="color:red;">Login Failed</h4>
                            <h5 style="color:red;">Please ensure correct details are entered</h5>
                        </div>
                        <div class="form-group" style="text-align:center;">
                            <div class="col-md-12">
                                <button class="btn btn-primary" ng-click="userLogin()">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>