﻿<div class="container-fluid no-margin-padding" ng-controller="IndexController">
    <!-- Top nav bar -->
    <top-nav-directive></top-nav-directive>
    <!-- Rest of screen -->
    <div class="container-fluid no-margin-padding">
        <div class="row no-margin-padding">
            <div class="col-md-12 no-margin-padding">
                <div ng-show="showSideBar" class="col-md-3 no-margin-padding">
                    <side-bar-directive></side-bar-directive>
                </div>
                <div class="col-md-9 no-margin-padding" id="contentArea">
                    <div class="container-fluid no-margin-padding">
                        <toggle-nav-directive></toggle-nav-directive>
                        <content-area-directive></content-area-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>