﻿<div ng-show="!accountsLoaded.loaded" class="container-fluid no-margin-padding">
    <h4>Loading user accounts data, please wait....</h4>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="accountsLoaded.loaded" class="container-fluid no-margin-padding" ng-switch on="accountsDisplay">
    <div ng-switch-when="AccountsList">
        <accounts-list-directive></accounts-list-directive>
    </div>
    <div ng-switch-when="EditAccount">
        <accounts-edit-directive></accounts-edit-directive>
    </div>
    <div ng-switch-when="AddAccount">
        <accounts-add-directive></accounts-add-directive>
    </div>
</div>