﻿<table st-table="storelist" class="table table-striped table-bordered table-hover no-margin-padding">
    <thead>
        <tr style="background-color: black; color: yellow;">
            <th colspan="5">User Name: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="btn btn-xs btn-default" ng-click="changeAccountsDisplay('AddAccount'); newAccountSetup()">Add Account</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="item in accountsList.accounts.slice(paginationDetails.startNum, paginationDetails.endNum)">
            <td width="90%">
                {{item.f_name}} {{item.l_name}}
            </td>
            <td width="5%" style="text-align:center;">
                <a class="btn btn-xs" ng-click="changeAccountsDisplay('EditAccount');editAccountSetup(item);"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
            </td>
            <td width="5%" style="text-align:center;">
                <a class="btn btn-xs" ng-click="deleteModal(item);"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
    <tfoot class="list-unstyled">
        <tr>
            <th colspan="5" style="text-align:center; background-color: black; color: yellow;">
                <button style="color: black; margin-right: 10px; margin-left: 10px;" class="pull-left" ng-click="firstPage()"> << </button>
                <button style="color: black;" class="pull-left" ng-click="prevPage()">Previous</button>
                Page {{paginationDetails.pageNum}} of {{paginationDetails.totalPages}}
                <button style="color: black; margin-left: 10px; margin-right: 10px;" class="pull-right" ng-click="lastPage()"> >> </button>
                <button style="color: black;" class="pull-right" ng-click="nextPage()">Next</button>
            </th>
        </tr>
    </tfoot>
</table>

<!-- Modal pop up to confirm the deletion of a store -->
<div class="modal fade customModal" id="deleteModal" tabindex="-1" role="form" style="margin-top: 100px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-header modalHeader">
            <h4>Delete Account</h4>
        </div>
        <div class="modal-content modalContent">
            <div class="row modalRow">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; margin-bottom: 25px; margin-top: 15px;">
                    <label>Delete account: <label style="color:#f1f1f2;">{{tempAccount.f_name}} {{tempAccount.l_name}}</label></label>
                    <p>Are you sure??</p>
                    <button class="btn btn-danger" ng-click="" data-dismiss="modal" style="margin-right: 25px;">Cancel</button>
                    <button class="btn btn-success" ng-click="deleteAccount(tempAccount.id)" data-dismiss="modal" style="margin-left: 25px;">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>