﻿<div class="col-md-8 col-md-offset-2">
    <form name="profileForm" novalidate>
        <div class="form-group">
            <div class="row no-margin-padding">
                <div class="col-md-12" style="text-align:center;">
                    <h2>Add a new user account</h2>
                </div>
                <hr style="border:1px solid black;" />
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.fname.$invalid && !profileForm.fname.$pristine}">
                    <label style="margin-top: 10px;">First Name: </label>
                    <input type="text" name="fname" class="form-control" ng-model="newAccount.f_name" ng-minlength="3" ng-maxlength="20" required>
                    <p ng-show="profileForm.fname.$invalid && !profileForm.fname.$pristine" class="help-block">First name required: Min 3 & Max 20 letter.s</p>
                    <p ng-show="profileForm.fname.$error.minlength" class="help-block">First name is too short.</p>
                    <p ng-show="profileForm.fname.$error.maxlength" class="help-block">First name is too long.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.lname.$invalid && !profileForm.lname.$pristine}">
                    <label style="margin-top: 10px;">Last Name: </label>
                    <input type="text" name="lname" class="form-control" ng-model="newAccount.l_name" ng-minlength="3" ng-maxlength="30" required>
                    <p ng-show="profileForm.lname.$invalid && !profileForm.lname.$pristine" class="help-block">Last name required: Min 3 & Max 30 letters.</p>
                    <p ng-show="profileForm.lname.$error.minlength" class="help-block">Last name is too short.</p>
                    <p ng-show="profileForm.lname.$error.maxlength" class="help-block">Last name is too long.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.mobile.$invalid && !profileForm.mobile.$pristine}">
                    <label style="margin-top: 10px;">Mobile: </label>
                    <input type="text" name="mobile" class="form-control" ng-model="newAccount.mobile" ng-minlength="10" ng-maxlength="10">
                    <p ng-show="profileForm.mobile.$invalid && !profileForm.mobile.$pristine" class="help-block">Enter valid mobile number: 10 digits.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine}">
                    <label style="margin-top: 10px;">Email: </label>
                    <input type="email" name="email" class="form-control" ng-model="newAccount.email" required>
                    <p ng-show="profileForm.email.$invalid && !profileForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.username.$invalid && !profileForm.username.$pristine}">
                    <label style="margin-top: 10px;">Username: </label>
                    <input type="text" name="username" class="form-control" ng-model="newAccount.username" ng-minlength="3" ng-maxlength="10" required>
                    <p ng-show="profileForm.username.$invalid && !profileForm.username.$pristine" class="help-block">Username required.</p>
                    <p ng-show="profileForm.username.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="profileForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.password.$invalid && !profileForm.password.$pristine}">
                    <label style="margin-top: 10px;">Password: </label>
                    <input type="text" name="password" class="form-control" ng-model="newAccount.password" ng-minlength="6" ng-maxlength="15" required>
                    <p ng-show="profileForm.password.$invalid && !profileForm.password.$pristine" class="help-block">Password required.</p>
                    <p ng-show="profileForm.password.$error.minlength" class="help-block">Password is too short.</p>
                    <p ng-show="profileForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
                <div class="col-md-4 col-md-offset-4" style="text-align:center;">
                    <label>User Type: <label style="color:blue;">{{newAccount.userType}}</label></label>
                    <br />
                    <select ng-model="newAccount.userType" ng-options="x for x in userType"></select>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
                <div class="col-xs-6 col-xs-offset-3" style="text-align:center;">
                    <label>Default Location: <label style="color:blue;">{{defaultLocation1.name}}</label></label>
                    <br />
                    <div>
                        <ul class="nav" style="border:2px solid yellow; background-color:#f1f1f2">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Select an option<span class="caret"></span></a>
                                <ul class="nav dropdown-menu" style="width:100%; text-align:center;border:2px solid yellow;">
                                    <li ng-repeat="item in locationsList.locations">
                                        <a class="btn-default" ng-click="changeDefaultLocation1(item, 1);">{{item.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
                <div class="form-group col-md-12">
                    <label style="margin-top: 10px;">Profile Image: </label>
                    <p>Upload a new image: ( Please ensure only .png files are selected )</p>
                    <input type="file" ng-model="profileImg1" name="name" base-sixty-four-input onload="onLoad1" maxsize="500" accept="image/*">
                    <br />
                    <table class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Current Image</th>
                                <th style="text-align: center;">Preview New Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="text-align: center;">
                                    <img class="img-thumbnail" style="height: 150px; max-width:150px;" ng-src="data:image/png;base64,{{newAccount.prof_img}}" onError="this.src = 'Images/blank_profile.jpe'" />
                                    <br />
                                    <button class="btn btn-primary" ng-click="deleteProfileImage1()" style="margin-top:10px;">Delete Image</button>
                                </th>
                                <th ng-show="previewProfileImg1" style="text-align: center;">
                                    <img class="img-thumbnail" style="width:150px;" ng-src="data:image/png;base64,{{profileImg1.base64}}" />
                                    <br />
                                    <button class="btn btn-danger" ng-click="discardUploadedImage1()" style="margin-top:10px;">Cancel</button>
                                    <button class="btn btn-success" ng-click="changeProfileImage1(profileImg1.base64, 1)" style="margin-top:10px;">Confirm</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="form-group" style="text-align:center;">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="changeAccountsDisplay('AccountsList');">Cancel</button>
                    <button ng-disabled="profileForm.$invalid" class="btn btn-success" ng-click="addAccount();changeAccountsDisplay('AccountsList');">Confirm</button>
                </div>
            </div>
            <br />
        </div>
    </form>
</div>
