﻿html, body {
    background-color:#000000;
    height:100%;
}
.no-margin-padding {
    margin: 0;
    padding: 0;
}

/* Top Nav Bar Styling - Start */
#topNavBar, #toggleNavBar {
    border:none;
    border-radius: 0 0 0 0;
    border-bottom: 1px solid yellow;
}
ul.topNavL1 li a {
    color: yellow;
}
ul.topNavL1 li a:hover, ul.topNavL1 li a:focus  {
    color: black;
    background-color:yellow;
}
ul.topNavL2 li a {
    color: black;
}
/* Top Nav Bar Styling - End */

/* Content Area Styling - Start */
#contentArea.toggled {
    width: 100%;
}
#contentArea1 {
    background-color: yellow;
    margin: 5px;
    height: 100%;
    border-radius: 4px 4px 4px 4px;
}
#changingContentArea {
    margin: 5px;
    padding: 5px;
    border: 3px solid yellow;
    background-color: #f1f1f2;
    border-radius: 4px 4px 4px 4px;
    height: 100%;
}
/* Content Area Styling - End */

/* Side Bar Styling - Start */
#sidebar {
    height: 100%;
}
#sidebar-menu-options a {
    color:black;
    background-color:#f1f1f2;
    border: 1px solid black;
}
#sidebar-menu-options a:hover {
    color:black;
    background-color:yellow;
    border: 1px solid #f1f1f2;
}
#sidebar-menu-options hr {
    border-color: yellow;
}
#profileDisplay {
    border: 2px solid yellow;
    border-radius: 3px 3px 3px 3px; 
    background-color:#f1f1f2;
    color: black;
    height: 150px;
}
/*Side Bar Styling - End */

/*Modal Styling - Start */
.customModal {
    margin-top: 100px;
}

.modalHeader {
    border: 3px solid yellow;
    border-radius: 5px 5px 0 0;
    background-color: #f1f1f2;
    color: black;
    text-align: center;
}

.modalContent {
    border-top: 3px solid black;
    border-bottom: 3px solid yellow;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    border-radius: 0 0 5px 5px; 
    background-color: #f1f1f2;
}

.modalRow {
    margin: 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: black;
    color:yellow;
}
/*Modal Styling - End */

/*Movie Schedule Cards - Start */
.movSched-card-display {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
}
.card-footer {
	min-height: 25px;
	background-color: yellow;
	border-radius: 0 0 5px 5px; 
    border-top: 2px solid black;
}
/*Movie Schedule Cards - End */