﻿<div class="col-md-8 col-md-offset-2">
    <form name="profileForm" novalidate>
        <div class="form-group">
            <div class="row no-margin-padding">
                <div class="col-md-12" style="text-align:center;">
                    <h2>Edit movie details</h2>
                </div>
                <hr style="border:1px solid black;" />
                <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error' : profileForm.title.$invalid && !profileForm.title.$pristine}">
                    <label style="margin-top: 10px;">Movie Title: </label>
                    <input type="text" name="title" class="form-control" ng-model="tempMovie.title" ng-minlength="2" ng-maxlength="30" required>
                    <p ng-show="profileForm.title.$invalid && !profileForm.title.$pristine" class="help-block">Movie title required: Min 2 & Max 30 letters.</p>
                    <p ng-show="profileForm.title.$error.minlength" class="help-block">Name is too short.</p>
                    <p ng-show="profileForm.title.$error.maxlength" class="help-block">Name is too long.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.genre.$invalid && !profileForm.genre.$pristine}">
                    <label style="margin-top: 10px;">Genre: </label>
                    <input type="text" name="genre" class="form-control" ng-model="tempMovie.genre" ng-minlength="3" ng-maxlength="20" required>
                    <p ng-show="profileForm.genre.$invalid && !profileForm.genre.$pristine" class="help-block">Enter movie genre.</p>
                </div>
                <div class="col-md-6 form-group" ng-class="{'has-error' : profileForm.duration.$invalid && !profileForm.duration.$pristine}">
                    <label style="margin-top: 10px;">Movie Duration ( minutes ): </label>
                    <input type="number" name="duration" class="form-control" ng-model="tempMovie.duration" ng-min="1" ng-max="210" required>
                    <p ng-show="profileForm.duration.$invalid && !profileForm.duration.$pristine" class="help-block">Enter duration in minutes 1 - 210.</p>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
                <div class="col-md-6 col-md-offset-3" style="text-align:center;">
                    <label>Age Rating: <label style="color:blue;">{{tempMovie.age_rating}}</label></label>
                    <br />
                    <select ng-model="tempMovie.age_rating" ng-options="x for x in ageTypes"></select>
                </div>
                <div class="col-md-12">
                    <hr style="border:1px solid black;" />
                </div>
                <div class="form-group col-md-12">
                    <label style="margin-top: 10px;">Movie Image: </label>
                    <p>Upload a new image: ( Please ensure only .png files are selected )</p>
                    <input type="file" ng-model="profileImg1" base-sixty-four-input onload="onLoad1" accept="image/*">
                    <br />
                    <table class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Current Image</th>
                                <th style="text-align: center;">Preview New Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="text-align: center;">
                                    <img class="img-thumbnail" style="height: 150px; max-width:150px;" ng-src="data:image/png;base64,{{tempMovie.movie_img}}" onError="this.src = 'Images/no_image.jpg'" />
                                    <br />
                                    <button class="btn btn-primary" ng-click="deleteProfileImage1()" style="margin-top:10px;">Delete Image</button>
                                </th>
                                <th ng-show="previewProfileImg1" style="text-align: center;">
                                    <img class="img-thumbnail" style="width:150px;" ng-src="data:image/png;base64,{{profileImg1.base64}}" />
                                    <br />
                                    <button class="btn btn-danger" ng-click="discardUploadedImage1()" style="margin-top:10px;">Cancel</button>
                                    <button class="btn btn-success" ng-click="changeProfileImage1(profileImg1.base64, 2)" style="margin-top:10px;">Confirm</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="form-group" style="text-align:center;">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="changeMoviesDisplay('MoviesList');">Cancel</button>
                    <button ng-disabled="profileForm.$invalid" class="btn btn-success" ng-click="editMovie();changeMoviesDisplay('MoviesList');">Confirm</button>
                </div>
            </div>
            <br />
        </div>
    </form>
</div>