﻿<div ng-show="!moviesLoaded.loaded" class="container-fluid no-margin-padding">
    <h4>Loading movies data, please wait....</h4>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="moviesLoaded.loaded" class="container-fluid no-margin-padding" ng-switch on="moviesDisplay">
    <div ng-switch-when="MoviesList">
        <movies-list-directive></movies-list-directive>
    </div>
    <div ng-switch-when="EditMovie">
        <movies-edit-directive></movies-edit-directive>
    </div>
    <div ng-switch-when="AddMovie">
        <movies-add-directive></movies-add-directive>
    </div>
</div>